[submodule "iot-schild/components/ArduinoJson"]
	path = iot-schild/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "iot-schild/components/arduino"]
	path = iot-schild/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
