static tuerschild_config_t dummy_conf  = {
	.ssid = "SSID",
	.password = "password",
	.hostname = "broker_hostname",
	.port = 1883,
	
	.topic = "raum/5"


	.ap_ssid = "Tueschild Einrichtung",
	.ap_password = "01234567",
	.ap_channel = 6
};
